.App {
  text-align: center;
}

.modal{
  position: absolute; 
  top:0;
  background-color: rgba(0,0,0,0.5);
  height: 100vh; width: 100vw;
  z-index: 0;
  animation: fadein 1s;
}
.modalBox{
  position: absolute;
  top:100px; left: 300px;
  width: 610px; height : 500px;
  background-color: white;
  animation: fadein 1.01s;
}
.modalBox > div {
  margin-top: 30px;
}

@keyframes fadein {
  from{
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
